* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.meals {
  align-items: center;
  background: #0fa36b;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100%;
  justify-content: center;
  width: 100%;
}
